<img [src]="book.imageUrl" [alt]="book.title" class="img-center margin-top-img" />

<div class="text-center">
    <div class="h3 font-weight-bold">{{ book.title }}</div>
    <p *ngIf="author">
        de
        <span routerLink="/authors/{{author.id}}" class="font-weight-bold pointer text-info">
      {{ author.firstName }} {{ author.lastName }}</span
    >
  </p>
  <p class="font-italic font-weight-light">
    {{ book.year }}
  </p>
  <div class="d-flex justify-content-around">
    <button
      class="btn btn-margin-bottom"
      [ngClass]="{ 'btn-info': !book.isToRead, 'btn-warning': book.isToRead }"
      (click)="onToggleReadingList()"
    >
      <span *ngIf="!book.isToRead"> Ajouter à ma liste </span>
        <span *ngIf="book.isToRead">Retirer de ma liste</span>
        </button>
        <button class="btn btn-secondary btn-margin-bottom" routerLink="edit">
      Modifier
    </button>
</div>
<article>
    <p>{{ book.category }}</p>
    <p class="text-justify">{{ book.synopsis }}</p>
</article>

<button class="btn btn-danger" (click)="onDeleteBook()">Supprimer</button>

</div>