<a [routerLink]="book.id" routerLinkActive="active" class="list-group-item list-group-item-action d-flex justify-content-around align-items-center pointer">
    <div>
        <div class="text-center list-group-item-heading font-italic font-weight-bold">
            {{ book.title }}
        </div>
        <div class="text-center list-group-item-text">
            <span *ngIf="author"> {{ author.firstName }} {{ author.lastName }} </span>
            <small class="font-weight-light font-italic" *ngIf="book.year">{{
        book.year
      }}</small>
        </div>
    </div>
    <span>
    <img
      [src]="book.imageUrl"
      [alt]="book.title"
      class="img-responsive"
      style="width: 3em"
  /></span>
</a>