<a (click)="onSelectAuthor()" [ngClass]="{ active: selectedAuthor === author }" class="list-group-item list-group-item-action d-flex justify-content-around align-items-center pointer">
    <div>
        <div class="text-center list-group-item-heading font-weight-bold">
            {{ author.firstName }} {{ author.lastName }}
        </div>
        <div class="text-center list-group-item-text font-weight-light font-italic">{{ author.nationality }}</div>
    </div>
    <span>
    <img
      [src]="author.imageUrl"
      [alt]="author.firstName + ' ' + author.lastName"
      class="img-responsive"
      style="width: 3em"
  /></span>
</a>