/* You can add global styles to this file, and also import other style files */

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
}

.tiny-img {
    height: 4em;
}

.pointer {
    cursor: pointer;
}

.hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    background-color: #17a2b8;
    // border-color: #17a2b8;
    // color: #17a2b8;
}
